

body {
    background-color: #ffc100;
  }

  
  @media (min-width: 1400px) {
    .fox-bg {
      position: absolute;
      background-image: url("media/tech-dino.png");
      background-position-y: top;
      background-position-x: right;
      top: 60px;
      right: 0px;
      background-repeat: no-repeat;
      width: calc(0.7 * 690px);
      height: calc(0.7 * 710px);
      background-size: contain; } }
  